---
http_interactions:
- request:
    method: get
    uri: http://kibana.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"BPVAX6J9TCmPQ8GSJEwTiw":{"name":"wd2","transport_address":"51.91.107.39:9300","host":"51.91.107.39","ip":"51.91.107.39","version":"7.10.1","build_flavor":"default","build_type":"deb","build_hash":"1c34507e66d7db1211f66f3513706fdf548736aa","roles":["data","data_cold","data_content","data_hot","data_warm","ingest","master","ml","remote_cluster_client","transform"],"attributes":{"ml.machine_memory":"33453887488","xpack.installed":"true","transform.node":"true","ml.max_open_jobs":"20"},"http":{"bound_address":["[::]:9200"],"publish_address":"51.91.107.39:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Fri, 19 Feb 2021 10:05:25 GMT
- request:
    method: get
    uri: http://51.91.107.39:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":10000,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-12h","lte":"now/d"}}},{"match":{"parameters.context":{"query":"Ping"}}}],"must_not":[{"terms":{"controller.keyword":["api/v2/ping"]}}],"filter":{"exists":{"field":"controller"}}}},"sort":[{"@timestamp":{"order":"asc"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":264,"timed_out":false,"_shards":{"total":22,"successful":17,"skipped":16,"failed":5,"failures":[{"shard":0,"index":".async-search","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"OwD-OGI8REqXqe7wRKnP9w","index":".async-search"}},{"shard":0,"index":".kibana_1","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"V10cCC4KT3eH7CQF3o3Urg","index":".kibana_1"}},{"shard":0,"index":".kibana_2","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"7QTiDxaGT5y9mZbi7CoMLg","index":".kibana_2"}},{"shard":0,"index":".kibana_task_manager_1","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"emt0rQzeT0KCvv1fb6owSg","index":".kibana_task_manager_1"}},{"shard":0,"index":".kibana_task_manager_2","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"HY2fVUYAQc-GMhTsAhkvkw","index":".kibana_task_manager_2"}}]},"hits":{"total":{"value":2649,"relation":"eq"},"max_score":null,"hits":[{"_index":"logstash-2021-02","_type":"_doc","_id":"E2ktt3cBm1anegepiZEP","_score":null,"_source":{"source":"siade_production_production1.entreprise.api.gouv.fr","type":"siade","duration":7.03,"path":"/v2/effectifs_mensuels_acoss_covid/2020/02/etablissement/55203253400646","view":0.34,"host":"production1","@version":"1","action":"show","controller":"api/v2/effectifs_mensuels_etablissement_acoss_covid","geoip":{"timezone":"Europe/Paris","latitude":48.8582,"ip":"178.33.47.43","country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"178.33.47.43","format":"*/*","api_version":"v2","tags":["request"],"@timestamp":"2021-02-18T22:05:50.397Z","route":"api/v2/effectifs_mensuels_etablissement_acoss_covid#show","domain":"gouv.fr","user_access":{"access":"allow","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"69cdbb2b-930b-46ac-8465-575906d2030d"},"request_id":"e8863d5a-1e70-430d-a604-00025949fd18","parameters":{"recipient":"DINUM","context":"Ping","annee":"2020","parameters_vrac":"{recipient=DINUM,
        context=Ping, annee=2020, siret=55203253400646, object=Uptime, mois=02}","siret":"55203253400646","object":"Uptime","mois":"02"},"status":200},"sort":[1613685950397]},{"_index":"logstash-2021-02","_type":"_doc","_id":"P2ktt3cBm1anegep25Fe","_score":null,"_source":{"source":"siade_production_production1.entreprise.api.gouv.fr","type":"siade","duration":2.92,"path":"/v2/effectifs_mensuels_acoss_covid/2020/02/entreprise/552032534","view":0.15,"host":"production1","@version":"1","action":"show","controller":"api/v2/effectifs_mensuels_entreprise_acoss_covid","geoip":{"timezone":"Europe/Paris","latitude":48.8582,"ip":"178.33.47.43","country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"178.33.47.43","format":"*/*","api_version":"v2","tags":["request"],"@timestamp":"2021-02-18T22:06:11.412Z","route":"api/v2/effectifs_mensuels_entreprise_acoss_covid#show","domain":"gouv.fr","user_access":{"access":"allow","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"69cdbb2b-930b-46ac-8465-575906d2030d"},"request_id":"75689da5-0134-461a-a93a-15370d22162d","parameters":{"siren":"552032534","recipient":"DINUM","context":"Ping","annee":"2020","parameters_vrac":"{siren=552032534,
        recipient=DINUM, context=Ping, annee=2020, object=Uptime, mois=02}","object":"Uptime","mois":"02"},"status":200},"sort":[1613685971412]},{"_index":"logstash-2021-02","_type":"_doc","_id":"Smktt3cBm1anegep7pHl","_score":null,"_source":{"source":"siade_production_production1.entreprise.api.gouv.fr","type":"siade","duration":859.32,"path":"/v2/entreprises/418166096","view":0.64,"host":"production1","@version":"1","action":"show","controller":"api/v3/entreprises_restored","geoip":{"timezone":"Europe/Paris","latitude":48.8582,"ip":"178.33.47.43","country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"178.33.47.43","format":"*/*","provider_http_code":{"infogreffe":"200","entreprise":"200","localite":"200","etablissement":"200"},"api_version":"v3","tags":["request"],"@timestamp":"2021-02-18T22:06:16.327Z","route":"api/v3/entreprises_restored#show","domain":"gouv.fr","user_access":{"access":"allow","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"69cdbb2b-930b-46ac-8465-575906d2030d"},"request_id":"b688927e-d1b8-45aa-8034-dad1d5810b72","parameters":{"siren":"418166096","recipient":"DINUM","context":"Ping","parameters_vrac":"{siren=418166096,
        recipient=DINUM, context=Ping, object=Uptime}","object":"Uptime"},"status":200},"sort":[1613685976327]},{"_index":"logstash-2021-02","_type":"_doc","_id":"OGkvt3cBm1anegepbpKp","_score":null,"_source":{"source":"siade_production_production1.entreprise.api.gouv.fr","type":"siade","duration":892.26,"path":"/v2/certificats_qualibat/48787244200024","view":0.97,"host":"production1","@version":"1","action":"show","controller":"api/v2/certificats_qualibat","geoip":{"timezone":"Europe/Paris","latitude":48.8582,"ip":"178.33.47.43","country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"178.33.47.43","format":"*/*","provider_http_code":{"certificats_qualibat":"200"},"api_version":"v2","tags":["request"],"@timestamp":"2021-02-18T22:07:54.277Z","route":"api/v2/certificats_qualibat#show","domain":"gouv.fr","user_access":{"access":"allow","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"69cdbb2b-930b-46ac-8465-575906d2030d"},"request_id":"408d25a9-a066-4001-a2ae-8aa01f6b23c2","parameters":{"recipient":"DINUM","context":"Ping","parameters_vrac":"{recipient=DINUM,
        context=Ping, siret=48787244200024, object=Uptime}","siret":"48787244200024","obj[...]
