---
http_interactions:
- request:
    method: get
    uri: http://watchdoge.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Sun, 09 Jun 2019 13:08:02 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":10000,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-12h","lte":"now/d"}}},{"term":{"parameters.context.keyword":{"value":"Ping"}}}],"must_not":[{"terms":{"controller.keyword":["api/v2/ping"]}}],"filter":{"exists":{"field":"user_access.resource"}}}},"sort":[{"@timestamp":{"order":"asc"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":9,"timed_out":false,"_shards":{"total":316,"successful":305,"failed":11,"failures":[{"shard":0,"index":".kibana","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"3tDGuNozQ5iYSmmUqklytw","index":".kibana"}},{"shard":0,"index":"ind","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"-3kYofKHS4OpgIjGJ-dCLQ","index":"ind"}},{"shard":0,"index":"my_index","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"cV-N3HxWTLSpSWf-zjH4_w","index":"my_index"}}]},"hits":{"total":845,"max_score":null,"hits":[{"_index":"logstash-2019.06.09","_type":"siade","_id":"AWs5yQZdChEb9_UO7ghh","_score":null,"_source":{"controller":"api/v3/etablissements_restored","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"localite":"200","etablissement":"200"},"source":"siade_production_production2.entreprise.api.gouv.fr","api_version":"v3","type":"siade","tags":["request"],"duration":328.75,"path":"/v2/etablissements/41816609600069","view":0.61,"route":"api/v3/etablissements_restored#show","@timestamp":"2019-06-09T01:10:03.152Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"etablissements","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"c35a539b-5608-4dba-9ed1-12883e580232"},"@version":"1","host":"production2","action":"show","request_id":"17e72943-22bd-4526-8eb0-6069ef9a439a","parameters":{"with_insee_v3":"true","context":"Ping","recipient":"SGMAP","siret":"41816609600069","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":200},"sort":[1560042603152]},{"_index":"logstash-2019.06.09","_type":"siade","_id":"AWs5yQZoChEb9_UO7ghi","_score":null,"_source":{"controller":"api/v2/etablissements_legacy","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"etablissement_legacy":"200"},"source":"siade_production_production2.entreprise.api.gouv.fr","api_version":"v2","type":"siade","tags":["request"],"duration":562.52,"path":"/v2/etablissements_legacy/41816609600069","view":0.46,"route":"api/v2/etablissements_legacy#show","@timestamp":"2019-06-09T01:10:03.400Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"etablissements","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"c35a539b-5608-4dba-9ed1-12883e580232"},"@version":"1","host":"production2","action":"show","request_id":"78254614-c0f3-47fd-8b26-1958e2fc6867","parameters":{"context":"Ping","recipient":"SGMAP","siret":"41816609600069","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":200},"sort":[1560042603400]},{"_index":"logstash-2019.06.09","_type":"siade","_id":"AWs5yRIhChEb9_UO7ghk","_score":null,"_source":{"controller":"api/v2/certificats_qualibat","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"certificats_qualibat":"200"},"source":"siade_production_production2.entreprise.api.gouv.fr","api_version":"v2","type":"siade","tags":["request"],"duration":3832.45,"path":"/v2/certificats_qualibat/48787244200024","view":0.5,"route":"api/v2/certificats_qualibat#show","@timestamp":"2019-06-09T01:10:06.660Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"qualibat","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"c35a539b-5608-4dba-9ed1-12883e580232"},"@version":"1","host":"production2","action":"show[...]
