---
http_interactions:
- request:
    method: get
    uri: http://watchdoge.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Tue, 08 Jan 2019 08:44:05 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":10000,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-12h","lte":"now/d"}}},{"term":{"parameters.context.keyword":{"value":"Ping"}}}],"must_not":[{"terms":{"controller.keyword":["api/v2/ping"]}}],"filter":{"exists":{"field":"user_access.resource"}}}},"sort":[{"@timestamp":{"order":"asc"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":22,"timed_out":false,"_shards":{"total":421,"successful":415,"failed":6,"failures":[{"shard":0,"index":".kibana","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"3tDGuNozQ5iYSmmUqklytw","index":".kibana"}},{"shard":0,"index":"my_index","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"cV-N3HxWTLSpSWf-zjH4_w","index":"my_index"}}]},"hits":{"total":919,"max_score":null,"hits":[{"_index":"logstash-2019.01.07","_type":"siade","_id":"AWgqD8bO7UY48SLljkAr","_score":null,"_source":{"source":"siade_production_production2.entreprise.api.gouv.fr","type":"siade","duration":117.12,"path":"/v2/etablissements/41816609600069","view":1.87,"@version":"1","host":"production2","action":"show","controller":"api/v2/etablissements","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"etablissement":"200"},"api_version":"v2","tags":["request"],"route":"api/v2/etablissements#show","@timestamp":"2019-01-07T20:45:03.148Z","response":{"fallback_used":false,"provider_name":"insee"},"domain":"gouv.fr","user_access":{"access":"allow","resource":"etablissements","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"c35a539b-5608-4dba-9ed1-12883e580232"},"request_id":"4d133b5b-112a-4f9a-a22b-7faea2d2ab41","parameters":{"context":"Ping","recipient":"SGMAP","siret":"41816609600069","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":200},"sort":[1546893903148]},{"_index":"logstash-2019.01.07","_type":"siade","_id":"AWgqD8bX7UY48SLljkAs","_score":null,"_source":{"controller":"api/v3/etablissements_restored","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"localite":"404","etablissement":"200"},"source":"siade_production_production2.entreprise.api.gouv.fr","api_version":"v3","type":"siade","tags":["request"],"duration":300.15,"path":"/v2/etablissements/41816609600069","view":0.61,"route":"api/v3/etablissements_restored#show","@timestamp":"2019-01-07T20:45:03.334Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"etablissements","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"c35a539b-5608-4dba-9ed1-12883e580232"},"@version":"1","host":"production2","action":"show","request_id":"a3f4c48b-7105-4328-9ef4-75bcd7753602","parameters":{"with_insee_v3":"true","context":"Ping","recipient":"SGMAP","siret":"41816609600069","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":200},"sort":[1546893903334]},{"_index":"logstash-2019.01.07","_type":"siade","_id":"AWgqD8bq7UY48SLljkAu","_score":null,"_source":{"controller":"api/v2/etablissements_legacy","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"etablissement_legacy":"200"},"source":"siade_production_production2.entreprise.api.gouv.fr","api_version":"v2","type":"siade","tags":["request"],"duration":451.86,"path":"/v2/etablissements_legacy/41816609600069","view":1.58,"route":"api/v2/etablissements_legacy#show","@timestamp":"2019-01-07T20:45:03.495Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"etablissements","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"c35a539b-5608-4dba-9ed1-12883e580232"},"@version":"1","host":"production2","action":"show","request_id":"da698680-19b3-4181-9580-c12a6da2302d","parameters":{"context":"Ping","recipient":"SGMAP","siret":"41816609600069","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":200},"sort":[1546893903495]},{"_index":"logstash-2019.01.07","_type":"siade","_id":"AWgqD8bz7UY48SLljkAv","_score":null,"_source":{"controller":"api/v2/certificats_qualibat","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"certificats_qualibat":"200"},"source":"siade_production_production2.entreprise.api.gouv.fr","api_version":"v2","type":"siade","tags":["request"],"duration":493.51,"path":"/v2/certificats_qualibat/48787244200024","view":1.07,"route":"api/v2/certificats_qualibat#show","@timestamp":"2019-01-07T20:45:03.518Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"qualibat","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"c35a539b-5608-4dba-9ed1-12883e580232"},"@version":"1","host":"production2","action":"show","request_id":"39f3d57b-5b2f-493e-b45e-7da994487903","parameters":{"context":"Ping","recipient":"SGMAP","siret":"48787244200024","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":200},"sort":[1546893903518]},{"_index":"logstash-2019.01.07","_type":"siade","_id":"AWgqD9pU7UY48SLljkA5","_score":null,"_source":{"controller":"api/v2/attestations_fiscales_dgfip","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"authenticate_dgfip":"200","attestations_fiscales_dgfip":"404"},"source":"siade_production_production2.entreprise.api.gouv.fr","api_version":"v2","type":"siade","tags":["request"],"duration":5182.15,"path":"/v2/attestations_fiscales_dgfip/841448202","view":0.32,"route":"api/v2/attestations_fiscales_dgfip#show","@timestamp":"2019-01-07T20:45:08.229Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"attestations_fiscales","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"c35a539b-5608-4dba-9ed1-12883e580232"},"@version":"1","host":"production2","action":"show","request_id":"d7cada3a-0bcd-4a92-816f-05daf66481a6","parameters":{"siren":"841448202","context":"Ping","recipient":"SGMAP","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":404},"sort":[1546893908229]},{"_index":"logstash-2019.01.07","_type":"siade","_id":"AWgqFFvJ7UY48SLljkG0","_score":null,"_source":{"source":"siade_production_production2.entreprise.api.gouv.fr","type":"siade","duration":127.5,"path":"/v2/etablissements/41816609600069","view":1.67,"@version":"1","host":"production2","action":"show","controller":"api/v2/etablissements","geoip":{"timezone":[...]
