---
http_interactions:
- request:
    method: get
    uri: http://watchdoge.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Fri, 08 Jun 2018 10:54:56 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":10000,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-12h","lte":"now/d"}}},{"term":{"parameters.context.keyword":{"value":"Ping"}}}],"must_not":[{"terms":{"controller.keyword":["api/v2/ping"]}}],"filter":{"exists":{"field":"user_access.resource"}}}},"sort":[{"@timestamp":{"order":"asc"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":1854,"timed_out":false,"num_reduce_phases":3,"_shards":{"total":1341,"successful":1335,"failed":6,"failures":[{"shard":0,"index":".kibana","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"3tDGuNozQ5iYSmmUqklytw","index":".kibana"}},{"shard":0,"index":"my_index","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"cV-N3HxWTLSpSWf-zjH4_w","index":"my_index"}}]},"hits":{"total":787,"max_score":null,"hits":[{"_index":"logstash-2018.06.07","_type":"siade","_id":"AWPcdeNhNebmjNULkxsa","_score":null,"_source":{"controller":"api/v2/certificats_qualibat","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","source":"siade_production_production2.entreprise.api.gouv.fr","api_version":"v2","type":"siade","tags":["request"],"duration":68.54,"path":"/v2/certificats_qualibat/33592022900036","view":0.2,"route":"api/v2/certificats_qualibat#show","@timestamp":"2018-06-07T22:55:03.379Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"qualibat","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"c35a539b-5608-4dba-9ed1-12883e580232"},"@version":"1","host":"production2","action":"show","request_id":"ad893173-7941-4314-ab55-d948ea088aea","parameters":{"context":"Ping","recipient":"SGMAP","siret":"33592022900036","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":404},"sort":[1528412103379]},{"_index":"logstash-2018.06.07","_type":"siade","_id":"AWPcdeNrNebmjNULkxsb","_score":null,"_source":{"controller":"api/v2/etablissements","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","source":"siade_production_production2.entreprise.api.gouv.fr","api_version":"v2","type":"siade","tags":["request"],"duration":97.05,"path":"/v2/etablissements/41816609600069","view":1.03,"route":"api/v2/etablissements#show","@timestamp":"2018-06-07T22:55:03.412Z","response":{"fallback_used":false,"provider_name":"insee"},"domain":"gouv.fr","user_access":{"access":"allow","resource":"etablissements","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"c35a539b-5608-4dba-9ed1-12883e580232"},"@version":"1","host":"production2","action":"show","request_id":"a3887239-77a5-499a-9eb5-149cb7133847","parameters":{"context":"Ping","recipient":"SGMAP","siret":"41816609600069","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":200},"sort":[1528412103412]},{"_index":"logstash-2018.06.07","_type":"siade","_[...]
