---
http_interactions:
- request:
    method: get
    uri: http://kibana.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Mon, 13 Apr 2020 13:11:43 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":10000,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-12h","lte":"now/d"}}},{"term":{"parameters.context.keyword":{"value":"Ping"}}}],"must_not":[{"terms":{"controller.keyword":["api/v2/ping"]}}],"filter":{"exists":{"field":"controller"}}}},"sort":[{"@timestamp":{"order":"asc"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":14,"timed_out":false,"_shards":{"total":386,"successful":375,"failed":11,"failures":[{"shard":0,"index":".kibana","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"3tDGuNozQ5iYSmmUqklytw","index":".kibana"}},{"shard":0,"index":"ind","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"-3kYofKHS4OpgIjGJ-dCLQ","index":"ind"}},{"shard":0,"index":"my_index","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"cV-N3HxWTLSpSWf-zjH4_w","index":"my_index"}}]},"hits":{"total":1277,"max_score":null,"hits":[{"_index":"logstash-2020.04.13","_type":"siade","_id":"AXFxGHmmPRu9R7sz5po8","_score":null,"_source":{"controller":"api/v3/entreprises_restored","geoip":{"timezone":"America/Chicago","ip":"216.245.221.84","latitude":32.7791,"continent_code":"NA","city_name":"Dallas","country_name":"United
        States","country_code2":"US","dma_code":623,"country_code3":"US","region_name":"Texas","location":{"lon":-96.8028,"lat":32.7791},"postal_code":"75202","region_code":"TX","longitude":-96.8028},"method":"HEAD","ip":"216.245.221.84","format":"html","provider_http_code":{"entreprise":"200","infogreffe":"404","localite":"200","etablissement":"200"},"source":"siade_production_production1.entreprise.api.gouv.fr","api_version":"v3","type":"siade","tags":["request"],"duration":738.7,"path":"/v2/entreprises/005900113","view":0.6,"route":"api/v3/entreprises_restored#show","@timestamp":"2020-04-13T01:12:41.314Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"entreprises","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"1e7f3921-5605-4c5d-a53a-d705a8a5bd0e"},"@version":"1","host":"production1","action":"show","request_id":"578f24e2-233c-43bf-b4fb-0f9f5ebb09bf","parameters":{"siren":"005900113","context":"Ping","recipient":"API
        Entreprise","non_diffusables":"true","object":"Tests","token":"[FILTERED]"},"status":200},"sort":[1586740361314]},{"_index":"logstash-2020.04.13","_type":"siade","_id":"AXFxGJURPRu9R7sz5po-","_score":null,"_source":{"controller":"api/v3/etablissements_restored","geoip":{"timezone":"America/Chicago","ip":"216.245.221.84","latitude":32.7791,"continent_code":"NA","city_name":"Dallas","country_name":"United
        States","country_code2":"US","dma_code":623,"country_code3":"US","region_name":"Texas","location":{"lon":-96.8028,"lat":32.7791},"postal_code":"75202","region_code":"TX","longitude":-96.8028},"method":"HEAD","ip":"216.245.221.84","format":"html","provider_http_code":{"localite":"200","etablissement":"200"},"source":"siade_production_production1.entreprise.api.gouv.fr","api_version":"v3","type":"siade","tags":["request"],"duration":205.23,"path":"/v2/etablissements/41405275300038","view":0.48,"route":"api/v3/etablissements_restored#show","@timestamp":"2020-04-13T01:12:47.857Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"etablissements","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"1e7f3921-5605-4c5d-a53a-d705a8a5bd0e"},"@version":"1","host":"production1","action":"show","request_id":"b80c7277-37a8-4dea-94b2-609b244f27ae","parameters":{"context":"Ping","recipient":"API
        Entreprise","non_diffusables":"true","siret":"41405275300038","object":"Tests","token":"[FILTERED]"},"status":200},"sort":[1586740367857]},{"_index":"logstash-2020.04.13","_type":"siade","_id":"AXFxGqkwPRu9R7sz5ppn","_score":null,"_source":{"controller":"api/v3/etablissements_restored","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":[...]
