---
http_interactions:
- request:
    method: get
    uri: http://watchdoge.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Sun, 22 Sep 2019 14:01:11 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":10000,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-12h","lte":"now/d"}}},{"term":{"parameters.context.keyword":{"value":"Ping"}}}],"must_not":[{"terms":{"controller.keyword":["api/v2/ping"]}}],"filter":{"exists":{"field":"user_access.resource"}}}},"sort":[{"@timestamp":{"order":"asc"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":14,"timed_out":false,"_shards":{"total":246,"successful":235,"failed":11,"failures":[{"shard":0,"index":".kibana","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"3tDGuNozQ5iYSmmUqklytw","index":".kibana"}},{"shard":0,"index":"ind","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"-3kYofKHS4OpgIjGJ-dCLQ","index":"ind"}},{"shard":0,"index":"my_index","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"cV-N3HxWTLSpSWf-zjH4_w","index":"my_index"}}]},"hits":{"total":937,"max_score":null,"hits":[{"_index":"logstash-2019.09.22","_type":"siade","_id":"AW1WtxoeoDMA1PhkIovu","_score":null,"_source":{"controller":"api/v3/etablissements_restored","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"localite":"200","etablissement":"200"},"source":"siade_production_production1.entreprise.api.gouv.fr","api_version":"v3","type":"siade","tags":["request"],"duration":110.09,"path":"/v2/etablissements/41816609600069","view":0.51,"route":"api/v3/etablissements_restored#show","@timestamp":"2019-09-22T02:05:02.563Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"etablissements","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"d8cfec8b-9b00-471e-996d-6a1d93086e1c"},"@version":"1","host":"production1","action":"show","request_id":"eb71e0bb-2783-4e27-91ef-0def7cbbaf4f","parameters":{"with_insee_v3":"true","context":"Ping","recipient":"SGMAP","siret":"41816609600069","object":"Watchdoge","token":"[FILTERED]"},"status":200},"sort":[1569117902563]},{"_index":"logstash-2019.09.22","_type":"siade","_id":"AW1WtxoOoDMA1PhkIovs","_score":null,"_source":{"controller":"api/v3/etablissements_restored","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"localite":"200","etablissement":"200"},"source":"siade_production_production1.entreprise.api.gouv.fr","api_version":"v3","type":"siade","tags":["request"],"duration":120.63,"path":"/v2/etablissements/41816609600069","view":0.49,"route":"api/v3/etablissements_restored#show","@timestamp":"2019-09-22T02:05:02.565Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"etablissements","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"d8cfec8b-9b00-471e-996d-6a1d93086e1c"},"@version":"1","host":"production1","action":"show","request_id":"797a4228-68ae-4734-8f64-5c0ba76d373f","parameters":{"context":"Ping","recipient":"SGMAP","siret":"41816609600069","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":200},"sort":[1569117902565]},{"_index":"logstash-2019.09.22","_type":"siade","_id":"AW1WtxokoDMA1PhkIovv","_score":null,"_source":{"controller":"api/v2/etablissements_legacy","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"etablissement_legacy":"200"},"source":"siade_production_production1.entreprise.api.gouv.fr","api_version":"v2","type":"siade","tags":["request"],"duration":283.76,"path":"/v2/etablissements_legacy/41816609600069","view":0.58,"route":"api/v2/etablissements_legacy#show","@timestamp":"2019-09-22T02:05:02.734Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"etablissements","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"d8cfec8b-9b00-471e-996d-6a1d93086e1c"},"@version":"1","host":"production1","action":"show","request_id":"f45c1849-fcda-4b83-940e-53a38efbadfd","parameters":{"context":"Ping","recipient":"SGMAP","siret":"41816609600069","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":200},"sort":[1569117902734]},{"_index":"logstash-2019.09.22","_type":"siade","_id":"AW1Wtx3toDMA1PhkIovy","_score":null,"_source":{"controller":"api/v2/certificats_qualibat","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"certificats_qualibat":"200"},"source":"siade_production_production1.entreprise.api.gouv.fr","api_version":"v2","type":"siade","tags":["request"],"duration":1052.93,"path":"/v2/certificats_qualibat/48787244200024","view":0.38,"route":"api/v2/certificats_qualibat#show","@timestamp":"2019-09-22T02:05:03.498Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"qualibat","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"d8cfec8b-9b00-471e-996d-6a1d93086e1c"},"@version":"1","host":"production1","action":"sho[...]
