---
http_interactions:
- request:
    method: get
    uri: http://kibana.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"BPVAX6J9TCmPQ8GSJEwTiw":{"name":"wd2","transport_address":"51.91.107.39:9300","host":"51.91.107.39","ip":"51.91.107.39","version":"7.6.0","build_flavor":"default","build_type":"deb","build_hash":"7f634e9f44834fbc12724506cc1da681b0c3b1e3","roles":["ingest","master","data","ml"],"attributes":{"ml.machine_memory":"33453887488","xpack.installed":"true","ml.max_open_jobs":"20"},"http":{"bound_address":["[::]:9200"],"publish_address":"51.91.107.39:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Thu, 15 Oct 2020 16:35:18 GMT
- request:
    method: get
    uri: http://51.91.107.39:9200/_search
    body:
      encoding: UTF-8
      string: |
        {
          "size": 0,
          "query": {
            "bool": {
              "must": [
                {
                  "range": {
                    "@timestamp": {
                      "gte": "now-1d/d",
                      "lte": "now/d"
                    }
                  }
                },
                {
                  "wildcard": {
                    "source": "siade_production*"
                  }
                },
                {
                  "term": {
                    "parameters.context.keyword": {
                      "value": "Ping"
                    }
                  }
                }
              ],
              "must_not": [
                {
                  "terms": {
                    "controller.keyword": [
                      "api/v2/ping"
                    ]
                  }
                }
              ],
              "filter": {
                "exists": {
                  "field": "controller"
                }
              }
            }
          },
          "aggs": {
            "group_by_controller": {
              "terms": {
                "field": "route.keyword",
                "size": 100
              },
              "aggs": {
                "agg_by_endpoint": {
                  "top_hits": {
                    "_source": {
                      "includes": [
                        "path",
                        "status",
                        "@timestamp",
                        "controller"
                      ]
                    },
                    "size": 1,
                    "sort": [
                      {
                        "@timestamp": {
                          "order": "desc"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":18,"timed_out":false,"_shards":{"total":478,"successful":478,"skipped":477,"failed":0},"hits":{"total":{"value":10000,"relation":"gte"},"max_score":null,"hits":[]},"aggregations":{"group_by_controller":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"api/v3/etablissements_restored#show","doc_count":2421,"agg_by_endpoint":{"hits":{"total":{"value":2421,"relation":"eq"},"max_score":null,"hits":[{"_index":"logstash-2020-10","_type":"_doc","_id":"D30dLXUBlFsnmdjKbLch","_score":null,"_source":{"path":"/v2/etablissements/41816609600069","controller":"api/v3/etablissements_restored","@timestamp":"2020-10-15T16:35:03.315Z","status":200},"sort":[1602779703315]}]}}},{"key":"api/v2/certificats_qualibat#show","doc_count":1186,"agg_by_endpoint":{"hits":{"total":{"value":1186,"relation":"eq"},"max_score":null,"hits":[{"_index":"logstash-2020-10","_type":"_doc","_id":"LH0dLXUBlFsnmdjKi7d7","_score":null,"_source":{"path":"/v2/certificats_qualibat/48787244200024","controller":"api/v2/certificats_qualibat","@timestamp":"2020-10-15T16:35:12.121Z","stat[...]
