---
http_interactions:
- request:
    method: get
    uri: http://watchdoge.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Fri, 08 Jun 2018 11:07:41 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: |
        {
          "size": 0,
          "query": {
            "bool": {
              "must": [
                {
                  "range": {
                    "@timestamp": {
                      "gte": "now-1d/d",
                      "lte": "now/d"
                    }
                  }
                },
                {
                  "wildcard": {
                    "source": "siade_production*"
                  }
                },
                {
                  "term": {
                    "parameters.context.keyword": {
                      "value": "Ping"
                    }
                  }
                }
              ],
              "must_not": [
                {
                  "terms": {
                    "controller.keyword": [
                      "api/v2/ping"
                    ]
                  }
                }
              ],
              "filter": {
                "exists": {
                  "field": "user_access.resource"
                }
              }
            }
          },
          "aggs": {
            "group_by_controller": {
              "terms": {
                "field": "route.keyword",
                "size": 100
              },
              "aggs": {
                "agg_by_endpoint": {
                  "top_hits": {
                    "_source": {
                      "includes": [
                        "path",
                        "status",
                        "@timestamp"
                      ]
                    },
                    "size": 1,
                    "sort": [
                      {
                        "@timestamp": {
                          "order": "desc"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":3382,"timed_out":false,"num_reduce_phases":3,"_shards":{"total":1341,"successful":1167,"failed":174,"failures":[{"shard":0,"index":".kibana","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"3tDGuNozQ5iYSmmUqklytw","index":".kibana"}},{"shard":0,"index":"my_index","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"cV-N3HxWTLSpSWf-zjH4_w","index":"my_index"}},{"shard":3,"index":"logstash-2018.04.17","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"es_rejected_execution_exception","reason":"rejected
        execution of org.elasticsearch.transport.TransportService$7@1366473d [...]
