---
http_interactions:
- request:
    method: get
    uri: http://watchdoge.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Mon, 24 Sep 2018 13:55:38 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: |
        {
          "size": 0,
          "query": {
            "bool": {
              "must": [
                {
                  "range": {
                    "@timestamp": {
                      "gte": "now-1d/d",
                      "lte": "now/d"
                    }
                  }
                },
                {
                  "wildcard": {
                    "source": "siade_production*"
                  }
                },
                {
                  "term": {
                    "parameters.context.keyword": {
                      "value": "Ping"
                    }
                  }
                }
              ],
              "must_not": [
                {
                  "terms": {
                    "controller.keyword": [
                      "api/v2/ping"
                    ]
                  }
                }
              ],
              "filter": {
                "exists": {
                  "field": "user_access.resource"
                }
              }
            }
          },
          "aggs": {
            "group_by_controller": {
              "terms": {
                "field": "route.keyword",
                "size": 100
              },
              "aggs": {
                "agg_by_endpoint": {
                  "top_hits": {
                    "_source": {
                      "includes": [
                        "path",
                        "status",
                        "@timestamp"
                      ]
                    },
                    "size": 1,
                    "sort": [
                      {
                        "@timestamp": {
                          "order": "desc"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":26,"timed_out":false,"_shards":{"total":341,"successful":335,"failed":6,"failures":[{"shard":0,"index":".kibana","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"3tDGuNozQ5iYSmmUqklytw","index":".kibana"}},{"shard":0,"index":"my_index","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"cV-N3HxWTLSpSWf-zjH4_w","index":"my_index"}}]},"hits":{"total":2740,"max_score":0.0,"hits":[]},"aggregations":{"group_by_controller":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"api/v2/certificats_qualibat#show","doc_count":458,"agg_by_endpoint":{"hits":{"total":458,"max_score":null,"hits":[{"_index":"logstash-2018.09.24","_type":"siade","_id":"AWYL3K8jDuSnlljiliYf","_score":null,"_source":{"path":"/v2/certificats_qualibat/48787244200024","@timestamp":"2018-09-24T13:55:03.737Z","status":200},"sort":[1537797303737]}]}}},{"key":"api/v2/etablissements#show","doc_count":458,"agg_by_endpoint":{"hits":{"total":458,"max_score":null,"hits":[{"_index":"logstash-2018.09.24","_type":"siade","_id":"AWYL3K7-DuSnlljiliYb","_score":null,"_source":{"path":"/v2/etablissements/41816609600069","@timestamp":"2018-09-24T13:55:03.527Z","status":200},"sort":[1537797303527]}]}}},{"key":"api/v2/etablissements_leg[...]
