---
http_interactions:
- request:
    method: get
    uri: http://kibana.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"BPVAX6J9TCmPQ8GSJEwTiw":{"name":"wd2","transport_address":"51.91.107.39:9300","host":"51.91.107.39","ip":"51.91.107.39","version":"7.10.1","build_flavor":"default","build_type":"deb","build_hash":"1c34507e66d7db1211f66f3513706fdf548736aa","roles":["data","data_cold","data_content","data_hot","data_warm","ingest","master","ml","remote_cluster_client","transform"],"attributes":{"ml.machine_memory":"33453887488","xpack.installed":"true","transform.node":"true","ml.max_open_jobs":"20"},"http":{"bound_address":["[::]:9200"],"publish_address":"51.91.107.39:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Fri, 19 Feb 2021 10:05:26 GMT
- request:
    method: get
    uri: http://51.91.107.39:9200/_search
    body:
      encoding: UTF-8
      string: |
        {
          "size": 0,
          "query": {
            "bool": {
              "must": [
                {
                  "range": {
                    "@timestamp": {
                      "gte": "now-1d/d",
                      "lte": "now/d"
                    }
                  }
                },
                {
                  "wildcard": {
                    "source": "siade_production*"
                  }
                },
                {
                  "match": {
                    "parameters.context": {
                      "query": "Ping"
                    }
                  }
                }
              ],
              "must_not": [
                {
                  "terms": {
                    "controller.keyword": [
                      "api/v2/ping"
                    ]
                  }
                }
              ],
              "filter": {
                "exists": {
                  "field": "controller"
                }
              }
            }
          },
          "aggs": {
            "group_by_controller": {
              "terms": {
                "field": "route.keyword",
                "size": 100
              },
              "aggs": {
                "agg_by_endpoint": {
                  "top_hits": {
                    "_source": {
                      "includes": [
                        "path",
                        "status",
                        "@timestamp",
                        "controller"
                      ]
                    },
                    "size": 1,
                    "sort": [
                      {
                        "@timestamp": {
                          "order": "desc"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":12,"timed_out":false,"_shards":{"total":22,"successful":21,"skipped":0,"failed":1,"failures":[{"shard":0,"index":".async-search","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"OwD-OGI8REqXqe7wRKnP9w","index":".async-search"}}]},"hits":{"total":{"value":7556,"relation":"eq"},"max_score":null,"hits":[]},"aggregations":{"group_by_controller":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"api/v3/etablissements_restored#show","doc_count":1228,"agg_by_endpoint":{"hits":{"total":{"value":1228,"relation":"eq"},"max_score":null,"hits":[{"_index":"logstash-2021-02","_type":"_doc","_id":"Umu_uXcBm1anegep_yEb","_score":null,"_source":{"path":"/v2/etablissements/41816609600069","controller":"api/v3/etablissements_restored","@timestamp":"2021-02-19T10:05:02.769Z","status":200},"sort":[1613729102769]}]}}},{"key":"api/v2/certificats_qualibat#show","doc_count":820,"agg_by_endpoint":{"hits":{"total":{"value":820,"relation":"eq"},"max_score":null,"hits":[{"_index":"logstash-2021-02","_type":"_doc","_id":"U2u_uXcBm1anegep_yEd","_score":null,"_source":{"path":"/v2/certificats_qualibat/48787244200024","controller":"api/v2/certificats_qualibat","@timestamp":"2021-02-19T10:05:03.152Z","status[...]
