---
http_interactions:
- request:
    method: get
    uri: http://kibana.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"BPVAX6J9TCmPQ8GSJEwTiw":{"name":"wd2","transport_address":"51.91.107.39:9300","host":"51.91.107.39","ip":"51.91.107.39","version":"7.10.1","build_flavor":"default","build_type":"deb","build_hash":"1c34507e66d7db1211f66f3513706fdf548736aa","roles":["data","data_cold","data_content","data_hot","data_warm","ingest","master","ml","remote_cluster_client","transform"],"attributes":{"ml.machine_memory":"33453887488","xpack.installed":"true","transform.node":"true","ml.max_open_jobs":"20"},"http":{"bound_address":["[::]:9200"],"publish_address":"51.91.107.39:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Fri, 19 Feb 2021 10:05:26 GMT
- request:
    method: get
    uri: http://51.91.107.39:9200/_search
    body:
      encoding: UTF-8
      string: |
        {
          "size": 1,
          "query": {
            "bool": {
              "must": [
                {
                  "wildcard": {
                    "source": "siade_production*"
                  }
                },
                {
                  "match": {
                    "parameters.context": {
                      "query": "Ping"
                    }
                  }
                }
              ]
            }
          },
          "sort": [
            {
              "@timestamp": {
                "order": "desc"
              }
            }
          ]
        }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":15,"timed_out":false,"_shards":{"total":22,"successful":17,"skipped":4,"failed":5,"failures":[{"shard":0,"index":".async-search","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"OwD-OGI8REqXqe7wRKnP9w","index":".async-search"}},{"shard":0,"index":".kibana_1","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"V10cCC4KT3eH7CQF3o3Urg","index":".kibana_1"}},{"shard":0,"index":".kibana_2","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"7QTiDxaGT5y9mZbi7CoMLg","index":".kibana_2"}},{"shard":0,"index":".kibana_task_manager_1","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"emt0rQzeT0KCvv1fb6owSg","index":".kibana_task_manager_1"}},{"shard":0,"index":".kibana_task_manager_2","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"HY2fVUYAQc-GMhTsAhkvkw","index":".kibana_task_manager_2"}}]},"hits":{"total":{"value":10000,"relation":"gte"},"max_score":null,"hits":[{"_index":"logstash-2021-02","_type":"_doc","_id":"U2u_uXcBm1anegep_yEd","_score":null,"_source":{"source":"siade_production_production1.entreprise.api.gouv.fr","type":"siade","duration":665.41,"path":"/v2/certificats_qualibat/48787244200024","view":0.34,"host":"production1","@version":"1","action":"show","controller":"api/v2/certificats_qualibat","geoip":{"timezone":"Europe/Paris","latitude":48.8582,"ip":"217.182.164.215","country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"certificats_qualibat":"200"},"api_version":"v2","tags":["request"],"@timestamp":"2021-02-19T10:05:03.152Z","route":"api/v2/certificats_qualibat#show","domain":"gouv.fr","user_access":{"access":"allow","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"69cdbb2b-930b-46ac-8465-575906d2030d"},"request_id":"9da69c1a-8676-4979-8616-3b2f87505194","parameters":{"recipient":"SGMAP","context":"Ping","parameters_vrac":"{recipient=SGMAP,
        context=Ping, siret=48787244200024, object=Watchdoge, token=[FILTERED]}","siret":"48787244200024","object":"Watchdoge","token":"[FILTERED]"},"status":200},"sort":[1613729103152]}]}}'
  recorded_at: Fri, 19 Feb 2021 10:05:26 GMT
recorded_with: VCR 5.0.0
