---
http_interactions:
- request:
    method: get
    uri: http://api-sandbox.apientreprise.fr/v2/ping?service=insee_etablissement&token=<APIE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api-sandbox.apientreprise.fr/v2/ping?token=<APIE_TOKEN>&service=insee_etablissement
      X-Iplb-Instance:
      - '8245'
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 21 Jul 2017 12:14:46 GMT
- request:
    method: get
    uri: https://api-sandbox.apientreprise.fr/v2/ping?service=insee_etablissement&token=<APIE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae64196db7fe3eccb7a320032b6a44ca"
      X-Iplb-Instance:
      - '8245'
    body:
      encoding: ASCII-8BIT
      string: '{"code":200}'
  recorded_at: Fri, 21 Jul 2017 12:14:46 GMT
[...]
- request:
    method: get
    uri: https://api-sandbox.apientreprise.fr/v2/ping?service=insee_etablissement&token=<APIE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae64196db7fe3eccb7a320032b6a44ca"
      X-Iplb-Instance:
      - '8245'
    body:
      encoding: ASCII-8BIT
      string: '{"code":200}'
  recorded_at: Fri, 21 Jul 2017 12:14:47 GMT
recorded_with: VCR 3.0.3
