---
http_interactions:
- request:
    method: get
    uri: http://watchdoge.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Thu, 11 Jan 2018 13:41:58 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":10000,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-12h","lte":"now/d"}}},{"term":{"parameters.context.keyword":{"value":"Ping"}}}],"must_not":[{"terms":{"controller.keyword":["api/v1/ping","api/v2/ping"]}}],"filter":{"exists":{"field":"user_access.resource"}}}},"sort":[{"@timestamp":{"order":"asc"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":13,"timed_out":false,"num_reduce_phases":2,"_shards":{"total":601,"successful":595,"failed":6,"failures":[{"shard":0,"index":".kibana","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"3tDGuNozQ5iYSmmUqklytw","index":".kibana"}},{"shard":0,"index":"my_index","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"cV-N3HxWTLSpSWf-zjH4_w","index":"my_index"}}]},"hits":{"total":1110,"max_score":null,"hits":[{"_index":"logstash-2018.01.11","_type":"siade","_id":"AWDi5Fpqz_-J--ddAOcT","_score":null,"_source":{"controller":"api/v1/certificats_qualibat","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","source":"siade_production1","type":"siade","api_version":"v1","tags":["request"],"duration":753.05,"path":"/v1/certificats_qualibat/33592022900036","view":0.46,"route":"api/v1/certificats_qualibat#show","@timestamp":"2018-01-11T01:45:03.423Z","domain":"apientreprise.fr","user_access":{"access":"allow","demarche":"MPS","resource":"qualibat","user":"tech@apientreprise.fr"},"@version":"1","host":"production1","action":"show","request_id":"038127e5-1ef5-4267-8220-6e93ee4a0fc2","parameters":{"context":"Ping","recipient":"SGMAP","siret":"33592022900036","token":"[FILTERED]"},"db":2.12,"status":200},"sort":[1515635103423]},{"_index":"logstash-2018.01.11","_type":"siade","_id":"AWDi5F43z_-J--ddAOcW","_score":null,"_source":{"controller":"api/v1/etablissements","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","source":"siade_[...]
