---
http_interactions:
- request:
    method: get
    uri: http://watchdoge.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Thu, 31 May 2018 12:26:37 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_count
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-1M","lte":"now/d"}}}]}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"count":2403177,"_shards":{"total":1301,"successful":1296,"failed":5,"failures":[{"shard":4,"index":"logstash-2017.11.03","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"es_rejected_execution_exception","reason":"rejected
        execution of org.elasticsearch.transport.TransportService$7@27d20087 on EsThreadPoolExecutor[search,
        queue capacity = 1000, org.elasticsearch.common.util.concurrent.EsThreadPoolExecutor@61f7434e[Running,
        pool size = 13, active threads = 13, queued tasks = 999, completed tasks =
        1032934]]"}},{"shard":4,"index":"logstash-2018.02.27","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"es_rejected_execution_exception"[...]
