---
http_interactions:
- request:
    method: get
    uri: http://kibana.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Wed, 10 Jan 2018 10:08:51 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":1,"query":{"match_all":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":18,"timed_out":false,"num_reduce_phases":2,"_shards":{"total":596,"successful":596,"failed":0},"hits":{"total":6112474,"max_score":1.0,"hits":[{"_index":".kibana","_type":"search","_id":"80223b30-cebc-11e7-b6b7-b7f07ce3e10a","_score":1.0,"_source":{"title":"Request
        count (without pings)","description":"","hits":0,"columns":["_source"],"sort":["@timestamp","desc"],"version":1,"kibanaSavedObjectMeta":{"searchSourceJSON":"{\"index\":\"logstash-*\",\"highlightAll\":true,\"version\":true,\"filter\":[{\"$state\":{\"store\":\"appState\"},\"meta\":{\"alias\":null,\"disabled\":false,\"index\":\"logstash-*\",\"key\":\"query\",\"negate\":false,\"type\":\"custom\",\"value\":\"{\\\"bool\\\":{\\\"filter\\\":{\\\"exists\\\":{\\\"field\\\":\\\"controller\\\"}},\\\"must\\\":[{\\\"wildcard\\\":{\\\"source\\\":\\\"siade_production*\\\"}}],\\\"must_not\\\":[{\\\"terms\\\":{\\\"controller\\\":[\\\"api/v1/ping\\\",\\\"api/v2/ping\\\",\\\"ping\\\"]}}]}}\"},\"query\":{\"bool\":{\"filter\":{\"exists\":{\"field\":\"controller\"}},\"must\":[{\"wildcard\":{\"source\":\"siade_production*\"}}],\"must_not\":[{\"terms\":{\"controller\":[\"api/v1/ping\",\"api/v2/ping\",\"ping\"]}}]}}},{\"meta\":{\"negate\":true,\"index\":\"logstash-*\",\"type\":\"phrase\",\"key\":\"parameters.context\",\"value\":\"Ping\",\"disabled\":false,\"alias\":null},\"query\":{\"match\":{\"parameters.context\":{\"query\":\"Ping\",\"type\":\"phrase\"}}},\"$state\":{\"store\":\"appState\"}}],\"query\":{\"query_string\":{\"query\":\"*\",\"analyze_wildcard\":true}}}"}}}]}}'
  recorded_at: Wed, 10 Jan 2018 10:08:51 GMT
recorded_with: VCR 3.0.3
