---
http_interactions:
- request:
    method: get
    uri: http://kibana.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Wed, 06 Dec 2017 09:17:46 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: '{"query":{"match_allllll":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"root_cause":[{"type":"parsing_exception","reason":"no [query]
        registered for [match_allllll]","line":1,"col":27}],"type":"parsing_exception","reason":"no
        [query] registered for [match_allllll]","line":1,"col":27},"status":400}'
  recorded_at: Wed, 06 Dec 2017 09:17:46 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_count
    body:
      encoding: UTF-8
      string: '{"query":{"match_allllll":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"root_cause":[{"type":"parsing_exception","reason":"no [query]
        registered for [match_allllll]","line":1,"col":27}],"type":"parsing_exception","reason":"no
        [query] registered for [match_allllll]","line":1,"col":27},"status":400}'
  recorded_at: Fri, 30 Mar 2018 13:27:28 GMT
recorded_with: VCR 4.0.0
