---
http_interactions:
- request:
    method: get
    uri: http://kibana.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"BPVAX6J9TCmPQ8GSJEwTiw":{"name":"wd2","transport_address":"51.91.107.39:9300","host":"51.91.107.39","ip":"51.91.107.39","version":"7.10.1","build_flavor":"default","build_type":"deb","build_hash":"1c34507e66d7db1211f66f3513706fdf548736aa","roles":["data","data_cold","data_content","data_hot","data_warm","ingest","master","ml","remote_cluster_client","transform"],"attributes":{"ml.machine_memory":"33453887488","xpack.installed":"true","transform.node":"true","ml.max_open_jobs":"20"},"http":{"bound_address":["[::]:9200"],"publish_address":"51.91.107.39:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Fri, 19 Feb 2021 10:11:34 GMT
- request:
    method: get
    uri: http://51.91.107.39:9200/_search
    body:
      encoding: UTF-8
      string: '{"query":{"match_allllll":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"root_cause":[{"type":"parsing_exception","reason":"unknown
        query [match_allllll] did you mean [match_all]?","line":1,"col":27}],"type":"parsing_exception","reason":"unknown
        query [match_allllll] did you mean [match_all]?","line":1,"col":27,"caused_by":{"type":"named_object_not_found_exception","reason":"[1:27]
        unknown field [match_allllll]"}},"status":400}'
  recorded_at: Fri, 19 Feb 2021 10:11:34 GMT
- request:
    method: get
    uri: http://51.91.107.39:9200/_count
    body:
      encoding: UTF-8
      string: '{"query":{"match_allllll":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"root_cause":[{"type":"parsing_exception","reason":"unknown
        query [match_allllll] did you mean [match_all]?","line":1,"col":27}],"type":"parsing_exception","reason":"unknown
        query [match_allllll] did you mean [match_all]?","line":1,"col":27,"caused_by":{"type":"named_object_not_found_exception","reason":"[1:27]
        unknown field [match_allllll]"}},"status":400}'
  recorded_at: Fri, 19 Feb 2021 10:29:13 GMT
recorded_with: VCR 5.0.0
