---
http_interactions:
- request:
    method: get
    uri: http://watchdoge.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Thu, 09 May 2019 09:54:27 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":0,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-30h","lte":"now"}}},{"term":{"user_access.jti.keyword":{"value":"c35a539b-5608-4dba-9ed1-12883e580232"}}}]}},"aggs":{"endpoints":{"terms":{"field":"user_access.resource.keyword","size":100},"aggs":{"status-code":{"terms":{"field":"status"}}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":7,"timed_out":false,"_shards":{"total":161,"successful":161,"failed":0},"hits":{"total":2098,"max_score":0.0,"hits":[]},"aggregations":{"endpoints":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"etablissements","doc_count":1068,"status-code":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":200,"doc_count":1068}]}},{"key":"qualibat","doc_count":344,"status-code":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":200,"doc_count":324},{"key":503,"doc_count":18},{"key":500,"doc_count":1},{"key":502,"doc_count":1}]}},{"key":"attestations_fiscales","doc_count":111,"status-code":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":200,"doc_count":111[...]
