---
http_interactions:
- request:
    method: get
    uri: http://kibana.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"BPVAX6J9TCmPQ8GSJEwTiw":{"name":"wd2","transport_address":"51.91.107.39:9300","host":"51.91.107.39","ip":"51.91.107.39","version":"7.6.0","build_flavor":"default","build_type":"deb","build_hash":"7f634e9f44834fbc12724506cc1da681b0c3b1e3","roles":["ingest","master","data","ml"],"attributes":{"ml.machine_memory":"33453887488","xpack.installed":"true","ml.max_open_jobs":"20"},"http":{"bound_address":["[::]:9200"],"publish_address":"51.91.107.39:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Wed, 22 Jul 2020 10:28:38 GMT
- request:
    method: get
    uri: http://51.91.107.39:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":50,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-8d/d","lte":"now/d"}}},{"term":{"user_access.jti.keyword":{"value":"d8cfec8b-9b00-471e-996d-6a1d93086e1c"}}}]}},"sort":[{"@timestamp":{"order":"desc"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":24,"timed_out":false,"_shards":{"total":475,"successful":473,"skipped":471,"failed":2,"failures":[{"shard":0,"index":".kibana_1","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"V10cCC4KT3eH7CQF3o3Urg","index":".kibana_1"}},{"shard":0,"index":".kibana_task_manager_1","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"emt0rQzeT0KCvv1fb6owSg","index":".kibana_task_manager_1"}}]},"hits":{"total":{"value":10000,"relation":"gte"},"max_score":null,"hits":[{"_index":"logstash-2020-07","_type":"_doc","_id":"0cIOdnMBlFsnmdjKJGab","_score":null,"_source":{"duration":962.09,"tags":["request"],"controller":"api/v2/certificats_qualibat","method":"GET","host":"production1","provider_http_code":{"certificats_qualibat":"200"},"api_version":"v2","format":"*/*","request_id":"10672792-8f28-485c-aaa9-bc125ffbf2e8","type":"siade","path":"/v2/certificats_qualibat/48787244200024","domain":"gouv.fr","route":"api/v2/certificats_qualibat#show","view":0.53,"action":"show","parameters":{"recipient":"SGMAP","siret":"48787244200024","token":"[FILTERED]","object":"Watchdoge","context":"Ping"},"geoip":{"country_code3":"FR","continent_code":"EU","timezone":"Europe/Paris","location":{"lat":48.8582,"lon":2.3387000000000002},"latitude":48.8582,"country_code2":"FR","ip":"217.182.164.215","longitude":2.3387000000000002,"country_name":"France"},"source":"siade_production_production1.entreprise.api.gouv.fr","@version":"1","user_access":{"jti":"d8cfec8b-9b00-471e-996d-6a1d93086e1c","access":"allow","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","resource":"qualibat"},"@timestamp":"2020-07-22T10:25:04.504Z","status":200,"ip":"217.182.164.215"},"sort":[1595413504504]},{"_index":"logstash-2020-07","_type":"_doc","_id":"z8IOdnMBlFsnmdjKJGaY","_score":null,"_source":{"duration":497.63,"tags":["request"],"controller":"api/v2/etablissements_legacy","method":"GET","host":"production1","provider_http_code":{"etablissement_legacy":"200"},"api_version":"v2","format":"*/*","request_id":"e3c62284-cc80-4fb3-9f06-f91bafd892fb","type":"siade","path":"/v2/etablissements_legacy/41816609600069","domain":"gouv.fr","route":"api/v2/etablissements_legacy#show","view":0.44,"action":"show","parameters":{"recipient":"SGMAP","siret":"41816609600069","token":"[FILTERED]","object":"Watchdoge","context":"Ping"},"geoip":{"country_code3":"FR","continent_code":"EU","timezone":"Europe/Paris","location":{"lat":48.8582,"lon":2.3387000000000002},"l[...]
[...]
- request:
    method: get
    uri: http://51.91.107.39:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":0,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-10m","lte":"now"}}},{"term":{"user_access.jti.keyword":{"value":"d8cfec8b-9b00-471e-996d-6a1d93086e1c"}}}]}},"aggs":{"endpoints":{"terms":{"field":"controller.keyword","size":100},"aggs":{"status-code":{"terms":{"field":"status"}}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":21,"timed_out":false,"_shards":{"total":475,"successful":475,"skipped":474,"failed":0},"hits":{"total":{"value":28,"relation":"eq"},"max_score":null,"hits":[]},"aggregations":{"endpoints":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"aides_covid_effectifs","doc_count":12,"status-code":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":200,"doc_count":12}]}},{"key":"etablissements","doc_count":12,"status-code":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":200,"doc_count":12}]}},{"key":"qualibat","doc_count":4,"status-code":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":200,"doc_count":4}]}}]}}}'
  recorded_at: Wed, 22 Jul 2020 10:28:39 GMT
[...]
