---
http_interactions:
- request:
    method: get
    uri: http://watchdoge.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Wed, 08 May 2019 14:25:45 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":50,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-8d/d","lte":"now/d"}}},{"term":{"user_access.jti.keyword":{"value":"c35a539b-5608-4dba-9ed1-12883e580232"}}}]}},"sort":[{"@timestamp":{"order":"desc"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":4,"timed_out":false,"_shards":{"total":156,"successful":145,"failed":11,"failures":[{"shard":0,"index":".kibana","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"3tDGuNozQ5iYSmmUqklytw","index":".kibana"}},{"shard":0,"index":"ind","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"-3kYofKHS4OpgIjGJ-dCLQ","index":"ind"}},{"shard":0,"index":"my_index","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"cV-N3HxWTLSpSWf-zjH4_w","index":"my_index"}}]},"hits":{"total":16196,"max_score":null,"hits":[{"_index":"logstash-2019.05.08","_type":"siade","_id":"AWqX1cqAfKSS_WGyNkOf","_score":null,"_source":{"controller":"api/v2/certificats_qualibat","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"certificats_qualibat":"200"},"source":"siade_production_production2.entreprise.api.gouv.fr","api_version":"v2","type":"siade","tags":["request"],"duration":854.7,"path":"/v2/certificats_qualibat/48787244200024","view":1.18,"route":"api/v2/certificats_qualibat#show","@timestamp":"2019-05-08T14:25:31.671Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"qualibat","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"c35a539b-5608-4dba-9ed1-12883e580232"},"@version":"1","host":"production2","action":"show","request_id":"aecc294a-89f5-4eb5-a918-e361e773cbb3","parameters":{"context":"Ping","recipient":"SGMAP","siret":"48787244200024","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":200},"sort":[1557325531671]},{"_index":"logstash-2019.05.08","_type":"siade","_id":"AWqX1cp1fKSS_WGyNkOe","_score":null,"_source":{"source":"siade_production_production2.entreprise.api.gouv.fr","type":"siade","duration":134.88,"path":"/v2/etablissements/41816609600069","view":1.83,"@version":"1","host":"production2","action":"show","controller":"api/v2/etablissements","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"etablissement":"200"},"api_version":"v2","tags":["request"],"route":"api/v2/etablissements#show","@timestamp":"2019-05-08T14:25:30.949Z","response":{"fallback_used":false,"provider_name":"insee"},"domain":"gouv.fr","user_access":{"access":"allow","resource":"etablissements","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"c35a539b-5608-4dba-9ed1-12883e580232"},"request_id":"73e6feb2-b5f4-4c27-aed4-c872117417a2","parameters":{"context":"Ping","recipient":"SGMAP","siret":"41816609600069","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":200},"sort":[1557325530949]},{"_index":"logstash-2019.05.08","_type":"siade","_id":"AWqX1V0BfKSS_WGyNkOR","_score":null,"_source":{"controller":"api/v3/etablissements_restored","geoip":{"timezone":"Europe/Paris","ip":"217.182.164.215","latitude":48.8582,"country_name":"France","country_code2":"FR","continent_code":"EU","country_code3":"FR","location":{"lon":2.3387000000000002,"lat":48.8582},"longitude":2.3387000000000002},"method":"GET","ip":"217.182.164.215","format":"*/*","provider_http_code":{"localite":"200","etablissement":"200"},"source":"siade_production_production2.entreprise.api.gouv.fr","api_version":"v3","type":"siade","tags":["request"],"duration":202.78,"path":"/v2/etablissements/41816609600069","view":0.58,"route":"api/v3/etablissements_restored#show","@timestamp":"2019-05-08T14:25:02.820Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"etablissements","user":"f5d5cb02-185a-426f-b3f4-99a25ce6cdf4","jti":"c35a539b-5608-4dba-9ed1-12883e580232"},"@version":"1","host":"production2","action":"show","request_id":"23a1bbff-9d4f-4cae-92fe-c29b50a77d6b","parameters":{"with_insee_v3":"true","context":"Ping","recipient":"SGMAP","siret":"41816609600069","object":"Watchdoge","token":"[FILTERED]"},"db":0.0,"status":200},"sort":[1557325502820]},{"_index":"logstash-2019.05.08","_type":"siade","_id":"AWqX08pqfKSS_WGyNkOF","_score":null,"_source":{"source":"siade_production_production2.entreprise.api.gouv.fr","type":"siade","duration":380.23,"path":"/v2/etablissements/41816609600069","view":2.29,"@version":"1","host":"production2","action":"show","controller":"api/v2/etablissements"[...]
[...]
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":0,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-10m","lte":"now"}}},{"term":{"user_access.jti.keyword":{"value":"c35a539b-5608-4dba-9ed1-12883e580232"}}}]}},"aggs":{"endpoints":{"terms":{"field":"path.keyword","size":100},"aggs":{"status-code":{"terms":{"field":"status"}}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":6,"timed_out":false,"_shards":{"total":156,"successful":156,"failed":0},"hits":{"total":8,"max_score":0.0,"hits":[]},"aggregations":{"endpoints":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"/v2/etablissements/41816609600069","doc_count":5,"status-code":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":200,"doc_count":5}]}},{"key":"/v2/certificats_qualibat/48787244200024","doc_count":2,"status-code":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":200,"doc_count":2}]}},{"key":"/v2/etablissements_legacy/41816609600069","doc_count":1,"status-code":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":200,"doc_count":1}]}}]}}}'
  recorded_at: Wed, 08 May 2019 14:25:45 GMT
[...]
