---
http_interactions:
- request:
    method: get
    uri: http://watchdoge.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"79oZqAQvTCKMyF4AGMt_Ug":{"name":"79oZqAQ","transport_address":"217.182.164.215:9300","host":"217.182.164.215","ip":"217.182.164.215","version":"5.5.1","build_hash":"19c13d0","roles":["master","data","ingest"],"http":{"bound_address":["[::]:9200"],"publish_address":"217.182.164.215:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Thu, 15 Mar 2018 08:07:32 GMT
- request:
    method: get
    uri: http://217.182.164.215:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":10000,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-8d/d","lte":"now/d"}}},{"term":{"user_access.jti.keyword":{"value":"b5be66cc-d182-420c-b0a7-a763b02c9e13"}}}]}},"sort":[{"@timestamp":{"order":"desc"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":10,"timed_out":false,"num_reduce_phases":2,"_shards":{"total":916,"successful":910,"failed":6,"failures":[{"shard":0,"index":".kibana","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"3tDGuNozQ5iYSmmUqklytw","index":".kibana"}},{"shard":0,"index":"my_index","node":"79oZqAQvTCKMyF4AGMt_Ug","reason":{"type":"query_shard_exception","reason":"No
        mapping found for [@timestamp] in order to sort on","index_uuid":"cV-N3HxWTLSpSWf-zjH4_w","index":"my_index"}}]},"hits":{"total":11,"max_score":null,"hits":[{"_index":"logstash-2018.03.14","_type":"siade","_id":"AWIkldBMBuIW8lZJNOgO","_score":null,"_source":{"controller":"api/v2/attestations_fiscales_dgfip","geoip":{"city_name":"Rehovot","timezone":"Asia/Jerusalem","ip":"132.76.10.42","latitude":31.8969,"country_name":"Israel","country_code2":"IL","continent_code":"AS","country_code3":"IL","region_name":"Central
        District","location":{"lon":34.8186,"lat":31.8969},"region_code":"M","longitude":34.8186},"method":"GET","ip":"132.76.10.42","format":"*/*","source":"siade_sandbox_production1","api_version":"v2","type":"siade","tags":["request"],"duration":1.79,"path":"/v2/attestations_fiscales_dgfip/552032534","view":0.13,"route":"api/v2/attestations_fiscales_dgfip#show","@timestamp":"2018-03-14T12:56:59.897Z","domain":"gouv.fr","user_access":{"access":"deny","resource":"attestations_fiscales","user":"0e143efd-2402-460c-9c07-4748407f0656","jti":"b5be66cc-d182-420c-b0a7-a763b02c9e13"},"@version":"1","host":"production1","action":"show","request_id":"1f259371-d42f-4b5b-8ce3-4950553cf804","parameters":{"siren":"552032534"},"db":0.0,"status":403},"sort":[1521032219897]},{"_index":"logstash-2018.03.14","_type":"siade","_id":"AWIklbEJBuIW8lZJNOgM","_score":null,"_source":{"controller":"api/v2/attestations_agefiph","geoip":{"city_name":"Rehovot","timezone":"Asia/Jerusalem","ip":"132.76.10.42","latitude":31.8969,"country_name":"Israel","country_code2":"IL","continent_code":"AS","country_code3":"IL","region_name":"Central
        District","location":{"lon":34.8186,"lat":31.8969},"region_code":"M","longitude":34.8186},"method":"GET","ip":"132.76.10.42","format":"*/*","source":"siade_sandbox_production1","api_version":"v2","type":"siade","tags":["request"],"duration":1.2,"path":"/v2/attestations_agefiph/30247504101933","view":0.1,"route":"api/v2/attestations_agefiph#show","@timestamp":"2018-03-14T12:56:52.151Z","domain":"gouv.fr","user_access":{"access":"allow","resource":"attestations_agefiph","user":"0e143efd-2402-460c-9c07-4748407f0656","jti":"b5be66cc-d182-420c-b0a7-a763b02c9e13"},"@version":"1","host":"production1","action":"show","request_id":"37633cb8-bc3e-49b3-88e4-44130413b2e7","parameters":{"siret":"30247504101933"},"db":0.0,"status":200},"sort":[1521032212151]},{"_index":"logstash-2018.03.14","_type":"siade","_id":"AWIkla0rBuIW8lZJNOgL","_score":null,"_source":{"controller":"api/v2/attestations_agefiph","geoip":{"city_name":"Rehovot","timezone":"Asia/Jerusalem","ip":"132.76.10.42","latitude":31.8969,"country_name":"Israel","country_code2":"IL","continent_code":"AS","country_code3":"IL","region_name":"Central
        District","location":{"lon":34.8186,"lat":31.8969},"region_code":"M","lon[...]
