---
http_interactions:
- request:
    method: get
    uri: http://kibana.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"BPVAX6J9TCmPQ8GSJEwTiw":{"name":"wd2","transport_address":"51.91.107.39:9300","host":"51.91.107.39","ip":"51.91.107.39","version":"7.6.0","build_flavor":"default","build_type":"deb","build_hash":"7f634e9f44834fbc12724506cc1da681b0c3b1e3","roles":["ingest","master","data","ml"],"attributes":{"ml.machine_memory":"33453887488","xpack.installed":"true","ml.max_open_jobs":"20"},"http":{"bound_address":["[::]:9200"],"publish_address":"51.91.107.39:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Thu, 01 Oct 2020 13:51:20 GMT
- request:
    method: get
    uri: http://51.91.107.39:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":0,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-6M"}}},{"term":{"controller.keyword":{"value":"notanendpoint"}}}]}},"aggs":{"1d_interval":{"date_histogram":{"field":"@timestamp","fixed_interval":"1d"},"aggs":{"group_by_status":{"terms":{"field":"status"}}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":44,"timed_out":false,"_shards":{"total":478,"successful":478,"skipped":369,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]},"aggregations":{"1d_interval":{"buckets":[]}}}'
  recorded_at: Thu, 01 Oct 2020 13:51:20 GMT
- request:
    method: get
    uri: http://51.91.107.39:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":0,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-6M"}}},{"term":{"controller.keyword":{"value":""}}}]}},"aggs":{"1d_interval":{"date_histogram":{"field":"@timestamp","fixed_interval":"1d"},"aggs":{"group_by_status":{"terms":{"field":"status"}}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":22,"timed_out":false,"_shards":{"total":478,"successful":478,"skipped":369,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]},"aggregations":{"1d_interval":{"buckets":[]}}}'
  recorded_at: Thu, 01 Oct 2020 13:57:40 GMT
recorded_with: VCR 5.0.0
