---
http_interactions:
- request:
    method: get
    uri: http://kibana.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"BPVAX6J9TCmPQ8GSJEwTiw":{"name":"wd2","transport_address":"51.91.107.39:9300","host":"51.91.107.39","ip":"51.91.107.39","version":"7.6.0","build_flavor":"default","build_type":"deb","build_hash":"7f634e9f44834fbc12724506cc1da681b0c3b1e3","roles":["ingest","master","data","ml"],"attributes":{"ml.machine_memory":"33453887488","xpack.installed":"true","ml.max_open_jobs":"20"},"http":{"bound_address":["[::]:9200"],"publish_address":"51.91.107.39:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Thu, 01 Oct 2020 13:51:19 GMT
- request:
    method: get
    uri: http://51.91.107.39:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":0,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-weekly"}}},{"term":{"controller.keyword":{"value":"api/v2/cartes_professionnelles_fntp"}}}]}},"aggs":{"1d_interval":{"date_histogram":{"field":"@timestamp","fixed_interval":"1d"},"aggs":{"group_by_status":{"terms":{"field":"status"}}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":871,"timed_out":false,"_shards":{"total":478,"successful":2,"skipped":2,"failed":476,"failures":[{"shard":0,"index":".apm-agent-configuration","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"parse_exception","reason":"operator
        not supported for date math [-weekly]"}},{"shard":0,"index":"logstash-2019-03-17","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"parse_exception","reason":"operator
        not supported for date math [-weekly]"}},{"shard":0,"index":"logstash-2019-03-18","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"parse_exception","reason":"operator
        not supported for date math [-weekly]"}},{"shard":0,"index":"logstash-2019-03-19","node":"BPVAX6J9TCmPQ[...]
[...]
