---
http_interactions:
- request:
    method: get
    uri: http://kibana.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"BPVAX6J9TCmPQ8GSJEwTiw":{"name":"wd2","transport_address":"51.91.107.39:9300","host":"51.91.107.39","ip":"51.91.107.39","version":"7.10.1","build_flavor":"default","build_type":"deb","build_hash":"1c34507e66d7db1211f66f3513706fdf548736aa","roles":["data","data_cold","data_content","data_hot","data_warm","ingest","master","ml","remote_cluster_client","transform"],"attributes":{"ml.machine_memory":"33453887488","xpack.installed":"true","transform.node":"true","ml.max_open_jobs":"20"},"http":{"bound_address":["[::]:9200"],"publish_address":"51.91.107.39:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Sun, 06 Sep 2020 22:00:00 GMT
- request:
    method: get
    uri: http://51.91.107.39:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":0,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-6M"}}},{"term":{"controller.keyword":{"value":"api/v2/cartes_professionnelles_fntp"}}}]}},"aggs":{"1d_interval":{"date_histogram":{"field":"@timestamp","fixed_interval":"1d"},"aggs":{"group_by_status":{"terms":{"field":"status"}}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":12,"timed_out":false,"_shards":{"total":22,"successful":22,"skipped":0,"failed":0},"hits":{"total":{"value":10000,"relation":"gte"},"max_score":null,"hits":[]},"aggregations":{"1d_interval":{"buckets":[{"key_as_string":"2020-08-19T00:00:00.000Z","key":1597795200000,"doc_count":337,"group_by_status":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":404,"doc_count":291},{"key":200,"doc_count":32},{"key":503,"doc_count":7},{"key":401,"doc_count":3},{"key":422,"doc_count":2},{"key":502,"doc_count":2}]}},{"key_as_string":"2020-08-20T00:00:00.000Z","key":1597881600000,"doc_count":734,"group_by_status":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":404,"doc_count":628},{"key":200,"doc_count":82},{"key":503,"doc_count":11},{"key":401,"doc_count":8},{"key":422,"doc_count":3},{"key":502,"doc_count":2}[...]
