---
http_interactions:
- request:
    method: get
    uri: http://kibana.entreprise.api.gouv.fr:9200/_nodes/http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"apientreprise_es","nodes":{"BPVAX6J9TCmPQ8GSJEwTiw":{"name":"wd2","transport_address":"51.91.107.39:9300","host":"51.91.107.39","ip":"51.91.107.39","version":"7.10.1","build_flavor":"default","build_type":"deb","build_hash":"1c34507e66d7db1211f66f3513706fdf548736aa","roles":["data","data_cold","data_content","data_hot","data_warm","ingest","master","ml","remote_cluster_client","transform"],"attributes":{"ml.machine_memory":"33453887488","xpack.installed":"true","transform.node":"true","ml.max_open_jobs":"20"},"http":{"bound_address":["[::]:9200"],"publish_address":"51.91.107.39:9200","max_content_length_in_bytes":104857600}}}}'
  recorded_at: Fri, 19 Feb 2021 10:20:58 GMT
- request:
    method: get
    uri: http://51.91.107.39:9200/_search
    body:
      encoding: UTF-8
      string: '{"size":0,"query":{"bool":{"must":[{"range":{"@timestamp":{"gte":"now-"}}},{"term":{"controller.keyword":{"value":"api/v2/cartes_professionnelles_fntp"}}}]}},"aggs":{"1d_interval":{"date_histogram":{"field":"@timestamp","fixed_interval":"1d"},"aggs":{"group_by_status":{"terms":{"field":"status"}}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":819,"timed_out":false,"_shards":{"total":22,"successful":5,"skipped":0,"failed":17,"failures":[{"shard":0,"index":".apm-agent-configuration","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"parse_exception","reason":"truncated
        date math [-]"}},{"shard":0,"index":".apm-custom-link","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"parse_exception","reason":"truncated
        date math [-]"}},{"shard":0,"index":".kibana-event-log-7.10.1-000001","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"parse_exception","reason":"truncated
        date math [-]"}},{"shard":0,"index":".kibana-event-log-7.10.1-000002","node":"BPVAX6J9TCmPQ8GSJEwTiw","reason":{"type":"parse_exception","r[...]
[...]
